{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="items">
	{% for venue in results.data %}
	<li>
		<a href="/venues/{{ venue.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ venue.name }}</h5>
				<!-- I noticed the number of upcoming shows is in the controller but not in the Template so I decided to add it -->
				<p>{{venue.num_upcoming_shows}}: show(s) upcoming</p>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}