{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="items">
	{% for artist in results.data %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
				<!-- I noticed the number of upcoming shows is in the controller but not in the Template so I decided to add it -->
				<p>{{artist.num_upcoming_shows}}: show(s) upcoming</p>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}